
body {
    /* margin: 0; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    /* background: rgb(186, 225, 248); */
    /* background-image: url(../components/images/buscando_prestador.jpeg); */
    /* background-size: cover;
    justify-items: center;
    align-content: center;
    height: 100vh;
    color: black;  */
 }

 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 #title{
   flex-direction: column;
   line-height: 10px;
   height: 45px;
   width: 30%;   
   color: rgb(90, 165, 209);
   font-weight: bold;
   text-decoration: none; 
   display: inline-block;
}



 li{
    display: inline-block;
    margin: 20px;
    color: rgb(90, 165, 209);

 }

 a{
    color: rgb(40, 121, 168);
    text-decoration: none;
 }

 a:hover{
    color: rgb(40, 121, 168);
    transition: 0.3s all;
    
 }

 #inscreva-se-btn{
    border: 2px solid rgb(186, 225, 248);
    padding: 10px;
    border-radius: 15px;

 }

 #inscreva-se-btn:hover{
    background-color: red;
    /* color: black; */
 }

 h1{
    font-weight: 200;
    text-decoration: none;
 }

 /* main{
   margin: 0px;
   justify-content: space-around;
   align-items: center;
 } */

 h2{
    font-size: 30px;
    line-height: 15px;
    font-family: poppinsmedium;
}

span{
   color: rgb(40, 121, 168);
}

p{
    line-height: 20px;
    max-width: 900px;
    font-family: poppinslight;
}

/* img{
    width: 200px;
} */

form{
   display: flex;
   width: 100%;   
}

form [type="submit"]{   
    height: 40px;
    width: 30%;
    background-color: rgb(40, 121, 168);
    color: white;
    font-weight: bold;
    padding: 0px;
}

form [type="submit"]:hover{
    cursor: pointer;
}

#inline {
   display: flex;
   position: relative;
   height: 20px;
   width: 300%;
}


input{
   margin-top: 20px;
   height: 20px;
   padding: 15px;
   border-radius: 20px;
   border: none;
   font-size: 15px;
   
}


.prestador{

   background-color: rgb(186, 225, 248) ;
    position: relative;
   width: 50%;
   /* border-radius: 20px; */
   
   border: none; 
   padding: 10px;
   font-size: 18px;
} 

.select-prestador{
   display: flex;
   width: 50%;   
   background-color: rgb(186, 225, 248);
   height: 40px;
   border-radius:20px;
   padding: 10px;
   font-size: 18px;
   border: none;
   margin-top: 20px;
   margin-right: 10px;
}