* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(186, 225, 248);
    background-image: url(./assets/imgPrestador.png);
    background-size: cover;
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100vh;
    color: black;
 }

 
.header {
    color:  white;
    position: absolute;
    top: 0;
    left: 20px;
    height: 10vh;
    width: 98.8vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.main {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainBox1 {
    
    margin: 10px;
    left: 470px;
    height: 500px;
    top: 90px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.605);
    width: 27rem;
    float: right;
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
}

.mainBox2 {
    
    margin: 10px;
    left: 470px;
    height: 500px;
    top: 90px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.605);
    width: 27rem;
    float: right;
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
}

.mainBox3 {
    
    margin: 10px;
    left: 470px;
    height: 500px;
    top: 90px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.605);
    width: 27rem;
    float: right;
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
}


label {
    color: black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-size: 23px;
    position: relative;
    left: 20px;
    margin-bottom: 0;
}

span {
    color: brown;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    font-size: 18px;
    position: relative;
    left: 19px;
}


.nomePerfil {
    color: rgb(90, 165, 209);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(59, 56, 56);
    font-size: 45px;
    position: relative;
    left: 140px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;   
}


.footer {
    position: absolute;
    bottom: 30px;
    height: 2rem;
    width: 98.8vw;
    display: flex;
    justify-content: center;    
}

.rodape {
    background-color: rgba(67, 65, 65, 0.755);
    color: white;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    padding: 0 50px;
    border-radius: 35px;
}



.box1, .box2, .box3, .box4, .box5 {
    font-size: 50px;
    background-color: rgb(40, 121, 168);
    color: white;
    border-radius: 10px;
    padding: 0 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    background-color: rgba(102, 211, 209);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35px;
    transition: 0.5s;
    -webkit-text-stroke-width: 1.0px;
    -webkit-text-stroke-color: black;
}

.box1:active {
    background: #00ff00;
    color: rgb(0,0,0)
}

.imagemPerfiladv1 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./assets/adv1.png");
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 100%;
    left: 145px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.imagemPerfiladv2 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./assets/adv2.png");
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 100%;
    left: 145px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.imagemPerfiladv3 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url("./assets/adv2.png");
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 100%;
    left: 145px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.botao1, .botao3, .botao5 {
    color: white;
    position: relative;
    left: 50px;
    top: 25px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgb(40, 121, 168);
    
}
.botao1 a, .botao2 a, .botao3 a, .botao4 a, .botao5 a, .botao6 a {
    text-decoration: none;
    color: white;

}



.botao2 {
    color: white;
    position: relative;
    left: 200px;
    bottom: 60px;    
    border-radius: 30px;
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgb(40, 121, 168);
}

.botao4 {
    color: white;
    position: relative;
    left: 200px;
    bottom: 60px;    
    border-radius: 30px;
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgb(40, 121, 168);
}

.botao6 {
    color: white;
    position: relative;
    left: 200px;
    bottom: 60px;    
    border-radius: 30px;
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgb(40, 121, 168);
}