* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background: rgb(186, 225, 248);
   background-attachment: fixed;
   background-size: cover;
   display: grid;
   justify-items: center;
   align-content: center;
   height: 100vh;
   
}

.main {
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    text-align: center;
    width: 30rem;
    height: 21rem;
    border-radius: 10px;
    background-color: white;
}

.botao1 {
    position: relative;
    left: 0px;
    top: 10px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgb(40, 121, 168);
}

.botao1 a {
    text-decoration: none;
    color: white;

}

.mensagemCliente {
    background-color: rgba(255, 255, 255, 0.605);
    width:500px;    
    height:100px;
    border:1px solid rgb(90, 165, 209);
    padding: 50px;
    border-radius: 10px;
    margin-top: -0px;
    position: relative;
    outline: none;
    
    
}

.digiteSuaMensagem {
    display: flex;    
    align-items: center;
    width:400px;
    height:60px;
    margin:auto;
    color:  rgb(90, 165, 209);   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 40px;
    border-radius: 35px;
    
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    resize: none;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    width: 400px;
    border-radius: 5px;
    border:none;
    background-color: rgb(186, 225, 248);
}
