<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mormalize.css" type="text/css"/>
    <link rel="stylesheet" href="./styles/advogado.css" type="text/css"/>
    <title>Advogados</title>
</head>
<body>
    <div class="header">
        <button class="box1">Início</button>
        <button class="box2">Serviços</button>
        <button class="box3">Prestadores</button>
        <button class="box4">Clientes</button>
        <a href="https://www.facebook.com/Desconhecidos.Fatos/" target="_blank"><button class="box5">Contatos</button></a>
    </div> 
    
    <div class="main">
        <div class="mainBox1">            
            <form>
                <h3 class="nomePerfil">Perfil</h3>
                <div class="imagemPerfiladv1"></div>
                <label>Nome:</label>
                    <span>Luis Felipe.</span><br>
                <label>Sexo:</label>
                    <span>Masculino.</span><br>
                    <label>Profissão:</label>
                    <span>Advogado.</span><br>
                <label>Endereço:</label>
                    <span>Av Rui Carneiro, 980 - Tambaú - João Pessoa/PB.</span><br>
                    <section>
                        <a href="notificacaoCliente.html"><button class="botao1">Contratar</a></button>
                    </section>
                    <section>
                        <a href="mensagemCliente.html"><button class="botao2">Mensagem</a></button>
                    </section>

                   
            </form>

        </div>
        <div class="mainBox2">            
            <form>
                <h3 class="nomePerfil">Perfil</h3>
                <div class="imagemPerfiladv2"></div>
                <label>Nome:</label>
                    <span>Luis Felipe.</span><br>
                <label>Sexo:</label>
                    <span>Masculino.</span><br>
                    <label>Profissão:</label>
                    <span>Advogado.</span><br>
                <label>Endereço:</label>
                    <span>Av Epitácio Pessoa, 1500 - Bairro dos Estados - João Pessoa/PB.</span><br>
                    <section>
                        <a href="notificacaoCliente.html"><button class="botao1">Contratar</a></button>
                    </section>
                    <section>
                        <a href="mensagemCliente.html"><button class="botao2">Mensagem</a></button>
                    </section>

                   
            </form>

        </div>
        <div class="mainBox3">            
            <form>
                <h3 class="nomePerfil">Perfil</h3>
                <div class="imagemPerfiladv3"></div>
                <label>Nome:</label>
                    <span>Luis Felipe.</span><br>
                <label>Sexo:</label>
                    <span>Masculino.</span><br>
                    <label>Profissão:</label>
                    <span>Advogado.</span><br>
                <label>Endereço:</label>
                    <span>Rua 13 de Dezembro, 258 - Roger - João Pessoa/PB.</span><br>
                    <section>
                        <a href="notificacaoCliente.html"><button class="botao1">Contratar</a></button>
                    </section>
                    <section>
                        <a href="mensagemCliente.html"><button class="botao2">Mensagem</a></button>
                    </section>

                   
            </form>

        </div>
        
    </div>    
</body>
</html>