<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/sobre.css">
    <title>Sobre</title>
</head>
<body>
    <header id="container">
        <div id="title">           
            <a href="#"><h1>Indique</h1>
                        <h1>Alguém</h1>
        </div>

        <div >
            <nav>
                <ul>
                    <a href="#"><li>Início</li></a>
                    <a href="#"><li>Serviços</li></a>
                    <a href="./sobre.ejs"><li>Sobre</li></a>
                    <a href="#"><li>Contato</li></a>
                    <a href="#" class="inscreva-se-btn"><li>Já tem uma conta?</li></a>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- <aside> -->
                    <br>
                    
                <h2>Está buscando um prestador de serviço<span> para sua casa ou empresa?</span></h2><br>
                <h2>Aqui você encontra os melhores prestadores de serviços</h2><br>
                <p>A Indique Alguém vai te conectar a profissionais das mais diversas áreas</p>
        
    </main>

    
</body>
</html>