.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 121, 168);
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: rgb(186, 225, 248);
}